<launch>
  <!-- Start roscore -->
  <!-- <node name="roscore" pkg="ros" type="core" output="screen" /> -->

  <!-- Run RosAria -->
  <!-- <node name="rosaria" pkg="rosaria" type="RosAria" output="screen">
    <param name="_port" value="/dev/ttyS1" /> -->
    <!-- <param name="baud" value = "115200" /> -->
  <!-- </node> -->
  <!-- <node pkg="rosaria" type="rosun" name="rosaria" output ="screen" args="rosaria RosAria _port:=/dev/ttyS1" /> -->

  <!-- Run joy_node -->
  <node name="joy_node" pkg="joy" type="joy_node" output="screen" />

  <!-- Run controller.py -->
  <node name="controller" pkg="joystick" type="controller.py" output="screen" />

  <!-- Run auto.py -->
  <node name="auto" pkg="drive" type="auto.py" output="screen" />

  <!-- Begin the GPS Data stream -->
  <node name="nmea_serial_driver" pkg="nmea_navsat_driver" type="nmea_serial_driver" args="_port:=/dev/ttyACM0 _baud:=9600" />

  <!-- Run gps.py -->
  <node name="gps" pkg="drive" type="gps.py" output="screen" />

  <!-- Run drive.py -->
  <node name="drive" pkg="master" type="drive.py" output="screen" />

  <include file="/opt/ros/noetic/share/phidgets_spatial/launch/spatial.launch" />

  <include file="/home/group1/Desktop/project/AUTO4508/catkin_ws/src/sick_scan_xd/launch/sick_tim_7xx.launch" />

  <!-- Launch imu_filter_madgwick -->
  <node name="imu_filter_madgwick" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen" />

  <!-- Launch drive imu.py -->
  <node name="drive_imu" pkg="drive" type="imu.py" output="screen" />

    <!-- Launch drive lidar.py -->
  <node name="drive_lidar" pkg="drive" type="lidar.py" output="screen" />

  <node pkg="drive" type="collision_avoidance.py" name="collision_avoidance_node" output="screen"/>


    <!-- Run cam.py -->
  <!-- <node name="camera_node" pkg="camera" type="cam.py" output="screen"/> -->
  
  <!-- Run gui.py -->
  <!-- <node name="gui_node" pkg="master" type="gui.py" output="screen"/> -->

</launch>
